{{! Variable carros with all the cars inside}}
 {
  "carros": [
    { 
        "img": "https://car-images.bauersecure.com/pagefiles/68234/zmer-004.jpg",
        "title": "E63 AMG",
        "desc": "Lorem ipsum dolor sit amet consectetur adipisicing elit."
    },
    { 
        "img": "http://imagesvc.timeincapp.com/v3/foundry/image/?q=70&w=1440&url=https%3A%2F%2Ftimedotcom.files.wordpress.com%2F2018%2F01%2F20170105-e46m3.jpg%3Fquality%3D85",
        "title": "M3 E46",
        "desc": "Lorem ipsum dolor sit amet consectetur adipisicing elit."
    },
    { 
        "img": "https://www.tesla.com/content/dam/tesla-site/sx-redesign/img/socialcard/MS.jpg",
        "title": "Tesla",
        "desc": "Lorem ipsum dolor sit amet consectetur adipisicing elit."
    },
        "img": "https://shopcdn.textalk.se/shop/ws87/58987/art87/h7934/154537934-origpic-fede28.jpg?max-width=720&max-height=720&quality=92",
        "title": "M5 E60",
        "desc": "Lorem ipsum dolor sit amet consectetur adipisicing elit."
    }
  ]
}

{{! Printing all the cars}}
 {{#carros}}
    <div class="col-xs-12 col-md-4">
        <div class="card" style="width: 100%; margin-bottom: 20px;">
            <img class="card-img-top" src="{{img}" alt="Card image" style="width:100%">
            <div class="card-body">
                <h4 class="card-title">{{title}}</h4>
                <p class="card-text">{{desc}}</p>
                <a href="#" class="btn btn-primary">More info</a>
            </div>
        </div>
    </div>
{{/carros}}