    <footer>
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 col-md-12 py-5">
                    <div class="text-center">
                        <!--Facebook-->
                        <a href="#">
                            <i class="fa fa-facebook white-text"></i>
                        </a>
                        <!--Instagram-->
                        <a href="#">
                            <i class="fa fa-instagram white-text"></i>
                        </a>
                        <!--Youtube-->
                        <a href="#">
                            <i class="fa fa-youtube white-text"></i>
                        </a>
                    </div>
                </div>
            </div>
            <!-- Copyright -->
            <div class="row">
                <div class="col-xs-12 col-md-12 text-center">
                    <div class="py-3">© 2018 Copyright:
                        <a href="#"> Admedia</a>
                    </div>
                </div>
            </div>
    </footer>