{{! Carousel items }}
{
  "carouselitems": [
    { 
        "img": "http://qnimate.com/wp-content/uploads/2014/03/images2.jpg",
        "alt": "First Slide"
    },
    { 
        "img": "http://icons.iconarchive.com/icons/graphicloads/colorful-long-shadow/256/Html-tags-icon.png",
        "alt": "Second Slide"
    },
    { 
        "img": "https://foundation.zurb.com/assets/img/sites-templates/f6-template-realestate.svg",
        "alt": "Third Slide"
    }
  ]
}

{{! Printing variable data }}
{{#carouselitems}}
    <div class="carousel-item active">
        <img class="d-block w-100" src="{img}" alt="{alt}">
    </div>
{{/carouselitems}}