<!DOCTYPE html>
<html lang="en">
<head>
    <!--Head-->
    {{> views/components/common/head }}
</head>

<body>
    <!--Navigation-->
    {{> views/components/common/nav }}

    <!---Carousel-->
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            {{> views/components/index/carousel-items}}
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

    <!--Text and image next to it-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                <div class="media-body" id="media">
                    <h5 class="mt-0 mb-1">Media object</h5>
                    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras
                    purus
                    odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate
                    fringilla. Donec lacinia congue felis in faucibus.
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <div class="w-100 text-center">
                    <img id="generic" class="ml-3 mt-2" src="https://openclipart.org/image/2400px/svg_to_png/167281/generic-avatar.png"
                        alt="Generic placeholder image">
                </div>
            </div>
        </div>
    </div>

    <!--Container with some images-->
    <div class="container-fluid">
        <div class="row">
            {{> views/components/index/generic-imgs }}
            {{> views/components/index/generic-imgs }}
            {{> views/components/index/generic-imgs }}
        </div>
    </div>

    <!--Containers with some text-->
    <div class="container-fluid">
        <div class="row">
            {{> views/components/index/containers-txt }}
            {{> views/components/index/containers-txt }}
            {{> views/components/index/containers-txt }}
        </div>
    </div>

    <!--Footer-->
    {{> views/components/common/footer }}

    <!--Scripts-->
    {{> views/components/common/scripts }}
</body>

</html>