            <div class="col-md-4">
                <div class="p-2 mb-2 text-center">
                    <img id="generic" src="http://www.safexone.com/images/old/default.gif" alt="Generic placeholder image">
                </div>
            </div>